<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Judge v2</title>
    <th:block th:include="~{fragments/head.html}"> </th:block>

    <!--Calendar-->
    <th:block th:include="~{fragments/calendar/calendar-head.html}"> </th:block>
</head>

<body id="reportsPage">
<div class="" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav th:replace="~{fragments/menu.html}"></nav>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row tm-mt-big">

            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div id="chart_div" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div id="googlePiechart" style="width: 100%; height: 100%;"></div>

                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <div id="googleGauge" style="width: 100%; height: 100%;"></div>
                </div>
            </div>

            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="tm-block-title d-inline-block">Top Scored Students</h2>
                        </div>
                        <div class="col-4 text-right">
                            <a class="tm-link-black">View All</a>
                        </div>
                    </div>
                    <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">

                        <li class="tm-list-group-item">Top student one</li>
                        <li class="tm-list-group-item">Top student two</li>
                        <li class="tm-list-group-item">Top student three</li>

                    </ol>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div class="auto-jsCalendar w-100"></div>
                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">Active Exercises</h2>
                    <ol class="tm-list-group">

                        <li class="tm-list-group-item">Active exercise one</li>
                        <li class="tm-list-group-item">Active exercise two</li>
                        <li class="tm-list-group-item">Active exercise three</li>

                    </ol>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragments/footer.html}"></footer>
    </div>
</div>

<!--Calendar-->
<th:block th:include="~{fragments/calendar/calendar-foot.html}"> </th:block>

</body>
</html>